
/*
.block2 { 
background: #ffffff; 
padding: 5px; 
border: solid 1px black; 
float: left; 
position: absolute; 
top: 300;
}
 
.body1 {
background: #FFFFFF;
border: solid 1px dimgrey;
opacity: 0.5;
width: 1050px;
height: 150px;
position:absolute;
top:100;
z-index:1;
}
.body2 {
background: #FFFFFF;
border: solid 1px dimgrey;
opacity: 0.8;
width: 900px;
height: 350px;
position:fixed;
top:300;
z-index:1;
}
*/
.zoomline{
	position: fixed;
	align: center;
	background-color: rgba(255,255,255,0.9);
	border-radius:  4px;
	border: solid 1px green;
	width: 70%;
	left: 30%;
	height: 15%;
	top: 80%;
	}
/*
.table2{
    background-color: rgba(255,255,255,0.9); 
}
*/ 
/*
.button_word{
  top: 90%;
  position: fixed;
  border-radius:  4px;
  font-size:20px;
  color: rgba(255,255,255,0.0);
  width: 9%;
  height: 30%;
  border-color: rgba(255,255,255,0.0);
  background-color: rgba(255,255,255,0.0); 
}
*/ 
.button_div{
  top: 70%;
  position: fixed;
  border-radius:  4px;
  font-size:20px;
  color: rgba(255,255,255,0.9);
  width: 9%;
  height: 30%;
  border-color: rgba(255,255,255,0.9);
  background-color: rgba(255,255,255,0.7); 
}
.button_menu{
  top: 35%;
  halign: center;
  position: fixed;
  border-radius:  4px;
  font-size:20px;
  color: rgba(255,255,255,0.9);
  width: 9%;
  height: 30%;
  border-color: rgba(255,255,255,0.1);
  background-color: rgba(255,255,255,0.5); 
}

BODY {
    background-color: #F8F8FF;
    background: url(pics/back.gif);
    -moz-background-size: 100%; 
    -webkit-background-size: 100%; 
    -o-background-size: 100%; 
    background-size: 100%;  
    bgproperties: fixed; 
    background-repeat:no-repeat; 
    background-attachment:fixed;
   }
/*   
.table1 {
    width: 80%;
    height: 12%; 
    background-color: rgba(255,255,255,0.7); 
    border-radius:  4px;
   } 
.table3 {
    width: 100%;
    background-color: rgba(255,255,255,0.7); 
   }
*/ 
.main_table {
	border-radius:  4px;
	}
