body {
  --color_bkg0: #e0e2e4;  
  
  --color_bkg1: #96897f;
  
  --color_bkg2: #d5f4e6;
  
  --color_button1: #b1d775; 
  
  --color_button_set: #8fcfef; 
  
  
  --screen-height: 800px; --screen-width: 1200px;
  --button-height-pc: 18; --button-fontsize-pc: 5;
  --button-fontsize:calc(var(--screen-height)*var(--button-fontsize-pc)/100);
  --button-height: calc(var(--button-height-pc)* 1%); --button-width: 15%;
  --button-radius: 1%;
  
  --reader-buttons-ny: 5; --reader-buttons-yspace:3; --reader-buttons-top:2; --reader-buttons-bottom:97.5; --reader-buttons-width-pc:14;
  --reader-textwidth: calc(100% - var(--reader-buttons-width-pc)*1.35*1%); --reader-textheight: 95%;
  --reader-textleft:2%; --reader-texttop:2%;
  
  --reader-zoomheight:20%; --reader-zoomtop:calc(100% - var(--reader-zoomheight)*1.15); --reader-textheight-zoom: calc(100% - var(--reader-zoomheight)*1.4);

  --editor-fontsize-pc:1; --editor-borderwidth-pc:1;
}
.body_bkg{
  position: fixed; left:0;top:0; width:100%;height:100%;
  background-color: var(--color_bkg0); font-weight:500; font-size:20px; text-align:center;
}
.text{
font-style:normal; 
}.text_highlite{
font-style:normal; 
background-color: #00b300; 
background-color: #6eb300; 
background-color: #b1d775; 
}

/*-- buttons -------------------------------------------------------------*/
.buttons_area{}

.buttons{
  position: fixed; width: var(--button-width); height: calc(var(--screen-height)*var(--button-height-pc)/100); 
  text-align: center; vertical-align:middle; /*line-height: calc(var(--screen-height)*var(--button-height-pc)/100);  */
  font-size:calc(var(--screen-height)*var(--button-fontsize-pc)/100); 
  font-weight:600; word-break: break-all;
  border-radius:  var(--button-radius);
  border-color: var(--color_bkg2);
  color: rgba(0,0,0,0.45);
  background-color: #7b949d;  
  /* background-color: #98acb3; */
  border: solid  calc(0.8*var(--screen-height)/100 ) #7b949d;  box-sizing: border-box;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 15px 30px 0 rgba(0,0,0,0.17);
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.08), 0 5px 15px 0 rgba(0,0,0,0.2);  
}
.buttons:hover{
  background-color: var(--color_bkg2); 
  background-color: #c4cfd4;
  border: solid  calc(0.8*var(--screen-height)/100 ) #c4cfd4;  
  box-shadow: 0 3px 5px 0 rgba(0,0,0,0.24), 0 10px 15px 0 rgba(0,0,0,0.19);
}
.files{
  position: absolute; 
  text-align: left; vertical-align:top; /*line-height:calc(1.3*var(--screen-height)*var(--button-fontsize-pc)*0.8/100);*/ 
  font-size: calc(0.8*var(--button-fontsize)); line-height:101%;
  font-weight:600; word-break: break-all; overflow-y: hidden;
  border-radius:  var(--button-radius);
  border: solid calc(0.2*0.8*var(--button-fontsize)) #b1d775; box-sizing: border-box;
  color: rgba(0,0,0,0.4);
background-color: #afdf9f; 
/*background-color: green; opacity:0.5;  */
/*background-color: rgba(0,102,0,0.5); */
box-shadow: 0 5px 8px 0 rgba(0,0,0,0.03), 0 5px 15px 0 rgba(0,0,0,0.15);  
}
.files-dir{ --color:#b1d775;--color:#afce7e;--color:#a6ce7e; /*--color:#cece7e; --color:#bace7e;*/ background-color: var(--color); border: solid calc(0.2*0.8*var(--button-fontsize)) var(--color);}
.files-dir:hover{ --color:#d9ecc6;--color:#cfe2cf;--color:#80ac39; background-color:var(--color); border: solid calc(0.2*0.8*var(--button-fontsize)) var(--color);}
.files-dir-hover{ --color:#d9ecc6;--color:#cfe2cf;--color:#80ac39; background-color:var(--color); border: solid calc(0.2*0.8*var(--button-fontsize)) var(--color);}
.files-txt{ --color:#d1b561; --color:#b3d8e6; --color:#b8d6e0; --color:#bdd4db; --color:#a6d9d9; --color:#acd2d2;
background-color: var(--color); border: solid calc(0.2*0.8*var(--button-fontsize)) var(--color); }
.files-txt:hover{ --color:#f2e6d9;--color:#cfe2e2;--color:#70a9a9; background-color:var(--color); border: solid calc(0.2*0.8*var(--button-fontsize)) var(--color); }
.files-txt-hover{ --color:#f2e6d9;--color:#cfe2e2;--color:#70a9a9; background-color:var(--color); border: solid calc(0.2*0.8*var(--button-fontsize)) var(--color); }

.buttons_editor{
position: fixed; width: 2%; height: 2%; 
text-align: center; vertical-align:middle; /*line-height: calc(var(--screen-height)*var(--button-height-pc)/100);  */
font-size: calc(var(--editor-fontsize-pc)*var(--screen-height)/100); 
  /*font-size: 30px;*/
  font-weight:600;
  border-radius:  var(--button-radius);
  border-color: var(--color_bkg2);
  color: rgba(0,0,0,0.45);
  background-color: #7b949d;  
  background-color: #98acb3;  
  border: solid  calc(var(--editor-borderwidth-pc)*var(--screen-height)/100 ) #98acb3;  
  /*box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 15px 30px 0 rgba(0,0,0,0.17);*/
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.05), 0 5px 15px 0 rgba(0,0,0,0.17);  
}.buttons_editor:hover{ 
background-color: #c4cfd4;
border-color: #c4cfd4; 
box-shadow: 0 3px 5px 0 rgba(0,0,0,0.24), 0 10px 15px 0 rgba(0,0,0,0.19);
}

/*-- reader text ---------------------------------------------------------*/
.text_scroll_box{
position:fixed; text-align:center; 
left:var(--reader-textleft); top:var(--reader-texttop); width:var(--reader-textwidth); height: var(--reader-textheight); 
font-size:25px; line-height: 135%; color:rgba(0,0,0,0.8);
background-color: white; 
border: dashed 2px #8a8a5c;
/* box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.15), 1px 3px 5px 1px rgba(0,0,0,0.15); */
}
.text_scroll_shadow{
position:absolute; width:100%; height:5%; z-index:100;
background: linear-gradient(white, rgba(255,255,255,0));
}
.text_scroll{
position:relative; left:0%;top:0%; width:99.5%;height:100%;
overflow-y: scroll; /*direction:rtl; */
}
.text_scroll::-webkit-scrollbar {
    color:black; /*direction: rtl; */
}
.text_scroll::-webkit-scrollbar-track {
	position:absolute; left:0%;
	background-color: white;
}
.text_scroll::-webkit-scrollbar-thumb {
    /*border-radius: 10px; */ 
    background-color: #c8ccd0;
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); */
}
.reader_text{
position:relative; left:2.5%;top:2%; width:93.5%;height:90%; 
background-color: rgba(255,255,255,0.9);
}

/*-- zoom ----------------------------------------------------------------*/
.reader_zoom_box{
position:fixed; left:var(--reader-textleft); top:var(--reader-zoomtop); width:calc(var(--reader-textwidth)); height: var(--reader-zoomheight); 
background-color: white; 
border: dashed 2px #8a8a5c;
}.zoom_scroll_shadow{
position:absolute; width:3%; height:90%; left:0%;top:0%; z-index:100;
background: linear-gradient(to right, white, rgba(255,255,255,0));
}.text_zoom{
font-size: 600%; position:relative; width:100%; height:97.5%;
border-radius: var(--border-radius);
font-style:normal; 
color: rgba(0,0,0,0.6);
overflow-x: scroll; overflow-y: hidden; white-space: nowrap;
}.text_zoom::-webkit-scrollbar {
    position:relative; 
}.text_zoom::-webkit-scrollbar-track {
	background-color: white;
}.text_zoom::-webkit-scrollbar-thumb {
    background-color: #c8ccd0; 
}

/*--- menu ---------------------------------------------------------------*/
.button_app{
  width: 10%; height: 10%; left:10%;
  font-size:20px;
  border-radius: var(--border-radius);
  border-color: rgba(255,255,255,0.3);
  background-color: rgba(255,255,200,0.7); 
  border: solid 2px green;
}

.back_area{
position:fixed; left:0%;top:0%; width:100%;height:100%; 
background-color:rgba(100,100,100,0.6);
}
