body {
  --color_bkg0: #e0e2e4;    
  --color_bkg1: #96897f;
  --color_bkg2: #d5f4e6;
  --color-buttons-normal: #7b949d; 
  --color-buttons-normal: #8aa0a8; 
  /*--color-buttons-normal: #85a3ad;*/ 
  --color-buttons-attention: #ff794d;
  --color-buttons-attention: #ff8c66;
  --color-buttons-attention: #ff9f80;
  --color-buttons-attention: #ffb366;
  --color-buttons-attention: #ffbf80;
  --color_button_set: #8fcfef; 
  --color-cursor: #59aa09;
  
  --screen-height: 800px; --screen-width: 1200px;
  --button-height-pc: 18;  --button-height:  calc(var(--button-height-pc)* 1%); 
  --button-fontsize-pc: 5; --button-fontsize:calc(var(--screen-height)*var(--button-fontsize-pc)/100);
  --button-width-pc: 15;   --button-width:   calc(var(--button-width-pc)* 1%); 
  --button-bordewidth-pc: 0.8; --button-radius: 1%;
  
  --reader-texttop-pc:2; --reader-textbottom-pc:98; --reader-textright-pc:82.5;
  --reader-textleft:1.5%;                              --reader-textright:calc(1%*var(--reader-textright-pc)); 
  --reader-texttop:calc(1%*var(--reader-texttop-pc));  --reader-textbottom:calc(1%*var(--reader-textbottom-pc));
  --reader-textheight: calc(var(--reader-textbottom) - var(--reader-texttop));
  --reader-textwidth:  calc(var(--reader-textright) - var(--reader-textleft));
  
  --reader-buttons-ny: 5; --reader-buttons-yspace:3; --reader-buttons-xspace:2;
  --reader-buttons-width: calc((100 - var(--reader-textwidth-pc) - 2*var(--reader-buttons-xspace))*1%);
  
  --reader-zoomheight:20%; --reader-zoomtop:calc(var(--reader-textbottom) - var(--reader-zoomheight)); --reader-textheight-zoom: calc(var(--reader-textheight) - var(--reader-zoomheight) - 2%);

  --editor-fontsize-pc:1; --editor-borderwidth-pc:1; --editor-wordbreak: normal;
}
.body_bkg{
  background-color: #e0e2e4;  
  /*---------------*/ 
  position: fixed; left:0;top:0; width:100%;height:100%;
  background-color: var(--color_bkg0); font-weight:500; font-size:20px; text-align:center; 
}
.text{
  font-style:normal; 
}.text_highlite{
  font-style:normal; 
  background-color: #b1d775; 
}

/*-- buttons -------------------------------------------------------------*/
.buttons_area{}
.buttons{
  width:12%; height:17%;    
  border: solid 10px #8aa0a8;  border-radius: 1%; 
  background-color: #8aa0a8;   font-size: 50px; 
  /*---------------*/
  position:fixed; box-sizing:border-box;
  /*width: var(--button-width); height: calc(var(--screen-height)*var(--button-height-pc)/100); */
  text-align: center; vertical-align:top; line-height:103%;
  font-size:calc(var(--screen-height)*var(--button-fontsize-pc)/100); 
  font-weight:600; word-break: normal; white-space: normal;
  color: rgba(0,0,0,0.45);
  background-color: var(--color-buttons-normal);  
  border: solid  calc(var(--button-bordewidth-pc)*var(--screen-height)/100 ) var(--color-buttons-normal);  border-radius:  var(--button-radius); 
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.08), 0 5px 15px 0 rgba(0,0,0,0.2); 
}
.buttons:hover{
  border: solid  10px #c4cfd4;  
  /*---------------*/
  background-color: #c4cfd4;
  border: solid  calc(var(--button-bordewidth-pc)*var(--screen-height)/100 ) #c4cfd4;  
  box-shadow: 0 3px 5px 0 rgba(0,0,0,0.24), 0 10px 15px 0 rgba(0,0,0,0.19);
}
.buttons_text{
  font-size: 50px; 
  /*---------------*/
  width:12%; height:17%;  position:fixed;  
  font-weight:600; word-break: normal; white-space: normal;
  font-size:calc(var(--screen-height)*var(--button-fontsize-pc)/100); 
  background-color: white;  color: rgba(0,0,0,0.52);
  border: dashed 2px #8a8a5c;  box-sizing:border-box;
}
.disabled{ opacity:0.4; }
.files{
  border: solid 10px #8aa0a8; border-radius: 1%;  font-size: 50px; 
  /*---------------*/
  position: absolute; 
  text-align: left; vertical-align:top; 
  font-size: calc(0.8*var(--button-fontsize)); line-height:101%;
  font-weight:600; word-break: break-all; overflow-y: hidden; white-space: normal;
  border-radius:  var(--button-radius);
  border: solid calc(0.2*0.8*var(--button-fontsize)) #b1d775; box-sizing: border-box;
  color: rgba(0,0,0,0.4);
  background-color: #afdf9f; 
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.03), 0 5px 15px 0 rgba(0,0,0,0.15);  
}
.files-dir{       border: solid 10px #a6ce7e; background-color:#a6ce7e;  --color:#a6ce7e; background-color: var(--color); border: solid calc(0.2*0.8*var(--button-fontsize)) var(--color);}
.files-dir:hover{ border: solid 10px #80ac39; background-color:#80ac39;  --color:#80ac39; background-color:var(--color);  border: solid calc(0.2*0.8*var(--button-fontsize)) var(--color); }
.files-dir-hover{ border: solid 10px #80ac39; background-color:#80ac39;  --color:#80ac39; background-color:var(--color);  border: solid calc(0.2*0.8*var(--button-fontsize)) var(--color); }
.files-txt{       border: solid 10px #acd2d2; background-color:#acd2d2;  --color:#acd2d2; background-color: var(--color); border: solid calc(0.2*0.8*var(--button-fontsize)) var(--color); }
.files-txt:hover{ border: solid 10px #70a9a9; background-color:#70a9a9;  --color:#70a9a9; background-color:var(--color);  border: solid calc(0.2*0.8*var(--button-fontsize)) var(--color); }
.files-txt-hover{ border: solid 10px #70a9a9; background-color:#70a9a9;  --color:#70a9a9; background-color:var(--color);  border: solid calc(0.2*0.8*var(--button-fontsize)) var(--color); }
.attention{ border: solid 10px #a6ce7e; background-color: var(--color-buttons-attention); border-color:var(--color-buttons-attention); background-color:#ffbf80; border-color:#ffbf80; }
.buttons_editor{
  border: solid 10px #98acb3; border-radius: 1%;  font-size: 50px; 
  /*------------------*/
  position: fixed; box-sizing:border-box; width: 2%; height: 2%; 
  text-align: center; vertical-align:top; line-height:100%;
  font-size: calc(var(--editor-fontsize-pc)*var(--screen-height)/100);  font-size:300%;
  font-weight:600; word-break: var(--editor-wordbreak);
  border-radius:  var(--button-radius);
  color: rgba(0,0,0,0.4);
  background-color: #98acb3;  
  border: solid  calc(var(--editor-borderwidth-pc)*var(--screen-height)/100 ) #98acb3;  
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.05), 0 5px 15px 0 rgba(0,0,0,0.17);  
}/*
.buttons_editor:hover{ 
  background-color: #c4cfd4; border-color: #c4cfd4; 
  opacity: 0.7;
  box-shadow: 0 3px 5px 0 rgba(0,0,0,0.24), 0 10px 15px 0 rgba(0,0,0,0.19);
}*/
.buttons_editor:hover{ 
  background-color: #a7b8be; border-color: #a7b8be; 
  opacity: 0.6;
  box-shadow: 0 3px 5px 0 rgba(0,0,0,0.24), 0 10px 15px 0 rgba(0,0,0,0.19);
}
.nobkg{ background-color: rgba(0,0,0,0); border-color:rgba(0,0,0,0); box-shadow: 0 5px 8px 0 rgba(0,0,0,0); 
  line-height:60%; font-size: 800%; color:#99bd75; color:#80ac53; color:#8cb464; }
.nobkg:hover{ background-color: rgba(0,0,0,0); border-color:rgba(0,0,0,0); box-shadow: 0 5px 8px 0 rgba(0,0,0,0);}
.symbol{ background-color: #99bd75; border-color: #99bd75; font-size: 400%; }
.symbol:hover{ background-color: #a6c587; border-color: #a6c587; opacity: 0.6; }
/*
.symbol{
background-color: #a6c587;
border: solid 10px #a6c587;
border: solid  calc(var(--editor-borderwidth-pc)*var(--screen-height)/100 ) #a6c587;  
} */

/*-- reader text ---------------------------------------------------------*/
.text_scroll_box{
  left:1%; top:2%; width:75.5%; height: 74%; 
  /*-------------*/
  position:fixed; text-align:center; box-sizing:border-box;
  /*left:var(--reader-textleft); top:var(--reader-texttop); width:calc(var(--reader-textright) - var(--reader-textleft) ); height: var(--reader-textheight); */
  font-size:25px; line-height: 135%; color:rgba(0,0,0,0.8);
  background-color: white; 
  border: dashed 2px #8a8a5c;
}
.text_scroll_shadow{
  position:absolute; width:100%; height:5%; z-index:100;
  background: linear-gradient(white, rgba(255,255,255,0));
}.text_scroll{
  position:relative; left:0%;top:0%; width:99.5%;height:100%;  box-sizing:border-box;
  white-space:pre-wrap; overflow-y: scroll; overflow-x: hidden;
}.text_scroll::-webkit-scrollbar {
  color:black; 
}.text_scroll::-webkit-scrollbar-track {
  position:absolute; left:0%;
  /*background-color: white;*/
}.text_scroll::-webkit-scrollbar-thumb {
  background-color: #c8ccd0;
}.reader_text{
  position:relative; left:2.5%;top:2%; width:93.5%;height:90%; 
  background-color: rgba(255,255,255,0.9);
}

/*-- zoom ----------------------------------------------------------------*/
.reader_zoom_box{
  left:1%; top:78%; width:75.5%; height: 20%; 
  /*---------------------*/
  position:fixed; 
  /*left:var(--reader-textleft); top:var(--reader-zoomtop); width:calc(var(--reader-textwidth)); height: var(--reader-zoomheight);  */
  background-color: white; 
  border: dashed 2px #8a8a5c;  box-sizing:border-box;
}.zoom_scroll_shadow{
  position:absolute; width:3%; height:90%; left:0%;top:0%; z-index:100;
  background: linear-gradient(to right, white, rgba(255,255,255,0));
}.text_zoom{
  font-size: 90px;  border-radius: 1%;
  /*-----------------*/
  font-size: calc(0.108*var(--screen-height)); position:relative; width:100%; height:97.5%;  box-sizing:border-box;
  border-radius: var(--border-radius);
  font-style:normal;  color: rgba(0,0,0,0.58);
  overflow-x: scroll; overflow-y: hidden; white-space:nowrap; 
}.text_zoom::-webkit-scrollbar {
  position:relative; 
}.text_zoom::-webkit-scrollbar-track {
  background-color: white;
}.text_zoom::-webkit-scrollbar-thumb {
  background-color: #c8ccd0; 
}

/*-- menu ----------------------------------------------------------------*/
.button_app{
  border-radius: 1%;
  /*----------------*/
  width: 10%; height: 10%; left:10%;
  font-size:20px;
  border-radius: var(--border-radius);
  border-color: rgba(255,255,255,0.3);
  background-color: rgba(255,255,200,0.7); 
  border: solid 2px green;
}

.back_area{
  position:fixed; left:0%;top:0%; width:100%;height:100%; 
  background-color:rgba(100,100,100,0.6);
}
.menu_area{
 left:10%;top:10%; position:fixed; 
 width:80%;height:80%; 
 background-color:rgba(255,255,255,0.9);
}
.menu_area_lvl2{
 left:12%;top:12.3%; position:fixed; 
 width:80%;height:80%; 
 background-color:rgba(255,255,255,0.95);
 /*border: dashed 2px #8a8a5c;  box-sizing:border-box; */
}
/*-- caret ---------------------------------------------------------------*/ 
.blinking-cursor {
  left: -50px;
  /*---------------------*/
  font-size:104%;  opacity:0.5; 
  position:absolute; left: calc(-0.021*var(--screen-width)); 
  -webkit-animation: 1.3s blink step-end infinite;
  -moz-animation: 1.3s blink step-end infinite;
  -ms-animation: 1.3s blink step-end infinite;
  -o-animation: 1.3s blink step-end infinite;
  animation: 1.3s blink step-end infinite;
}
@keyframes "blink"         { from, to {color:#59aa09; color: var(--color-cursor);} 50% {color: transparent;} }
@-moz-keyframes blink      { from, to {color:#59aa09; color: var(--color-cursor);} 50% {color: transparent;} }
@-webkit-keyframes "blink" { from, to {color:#59aa09; color: var(--color-cursor);} 50% {color: transparent;} }
@-ms-keyframes "blink"     { from, to {color:#59aa09; color: var(--color-cursor);} 50% {color: transparent;} }
@-o-keyframes "blink"      { from, to {color:#59aa09; color: var(--color-cursor);} 50% {color: transparent;} }


/*-- */
.mail{
  left:2%; width:75%; 
  /*-------------*/
  position:relative; text-align:center; box-sizing:border-box;
  /*left:var(--reader-textleft); top:var(--reader-texttop); width:calc(var(--reader-textright) - var(--reader-textleft) ); height: var(--reader-textheight); */
  font-size:25px; line-height: 135%; color:rgba(0,0,0,0.8);
  background-color: white;  background-color:#acd2d2; background-color:#ddeaee;
  /*border: dashed 2px #8a8a5c;*/
  border: solid 2px white;
}
.mail_out{
  left:1.5%; text-align:left; background-color:#ddeaee;}
.mail_in{
  left:26.5%; text-align:right; background-color:#e6eedd;}
.mail_temp{ background-color:#ffe6cc; background-color:#f7f7d4; background-color:#ddeaee; /*background-color:#bbd5dd;*/ }


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 10%;
    top: 30%;
    width: 80%; 
    height: 40%; 
    background-color: #fefefe;
}
/* Modal Content/Box */
.modal-content {
	position:fixed;
    top:35%; left:15%;
    width:70%; height:30%;
}
/* The Close Button */
.close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 25px;
    top: 0; 
    color: #000;
    font-size: 35px;
    font-weight: bold;
}
/* Close button on hover */
.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}
/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}
@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}
